# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual env
.venv/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# uv cache (обычно не нужно коммитить)
.uv/


.env
/src/static/
/src/logs/
